@{
	double t_0 = 0;
	double t_end = 150;
	double step = 0.1;
	
	int N = Convert.ToInt32((t_end-t_0)/step) + 1;
	
	String data = "";
	bool show_chart = false;
	
	if (IsPost){
		show_chart = true;
		
		var number = Request["text1"];
		
		double xd = number.AsInt();
		
		double t = 0;
		double x1 = 0;
		double x2 = 0;
		double x3 = 0;
		double currentx1 = 0;
		double currentx2 = 0;
		double currentx3 = 0;
		
		for (int i=0; i < N; ++i){
			t = t_0 + step * i;
			
			currentx1 = x1 + step* (-0.1252*x1 + -0.004637*x2+-0.002198*x3); 
			currentx2 = x2 + step*x1 ;
			currentx3= x3 + step*(10*x1 + -0.2*x3 +1*(x2-xd));
			
			x1 = currentx1;
			x2 = currentx2;
			x3 = currentx3;
			
			data += "[" +t+"," + x2+"]";
			
			if( i < N - 1){
				data += ",";
			}
		}
	}
}

<html>
  <head>
  	<meta charset="utf-8">
	<title>MathBox</title>
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Height'],
          @data
        ]);

        var options = {
          title: 'pitch',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  	<form action="" method="post">
		<p><label for="text1">Input Height</label><br>
			<input type="text" name="text1" /></p>
		<p><input type="submit" value=" Show " /></p>
	</form>
	@if (show_сhart)
	{
		<div id="curve_chart" style="width: 900px; height: 500px"></div>
	}
	else
	{
		<p></p>
	}
  </body>
</html>
